header {
  position: fixed;
  top: 0;
  left: 10%;
  width: 80%;
  background-color: #1c1c1c;
  z-index: 100;
  border-radius: 20px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    .home {
      position: relative;
      a {
        @include absolute-center;
      }
    }
    nav {
      ul {
        list-style: none;
        display: flex;
        padding: 0;
        li {
            margin-right: 55px;
          
          a {
            font-size: 1.4rem;
            text-decoration: none;
            color: #fff;
            opacity: 0.6;
            transition: 0.3s ease-in-out;
            position: relative;
            
            &:hover {
            opacity: 1;
          }
          }
          .active::after{
              content: "";
              position: absolute;
              border: 2px solid $h-text-color;
              background: $h-text-color 0% 0% no-repeat padding-box;
              bottom: -39%;
              left: 0;
              right: 0;;
            }
        }
        .width {
          transform: translateX(0);
        }
      }
    }
  }
}

.hamburger-nav {
  display: none;
}

:root {
  --button-width: 40px;
  --button-height: calc(var(--button-width) * 0.8);
  --rectangle-height: calc(var(--button-width) * 0.1);
  --rectangle-radius: calc(var(--button-width) * 0.04);
  --translate: calc(var(--button-width) * 0.17);
  --transition: 0.65s;
}

.fancy-burger {
  position: relative;
  width: var(--button-width);
  height: var(--button-height);
  border: 0;
  margin-right: 20px;
  background: transparent;
  outline: none;
  cursor: pointer;
}
.rectangle {
  position: absolute;
  height: var(--rectangle-height);
  background: white;
  border-radius: var(--rectangle-radius);
  transition: transform var(--transition);
}
.rectangle--small {
  width: calc(var(--button-width) / 2);
}
.rectangle--top {
  top: 0;
  left: 0;
  transform-origin: top left;
}
.rectangle--top.open {
  transform: translateX(var(--translate)) rotate(45deg);
}
.rectangle--middle {
  top: 50%;
  left: 0;
  width: var(--button-width);
  transform: translatey(-50%);
}
.rectangle--middle.open {
  transform: translatey(-50%) rotate(-45deg);
}
.rectangle--bottom {
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
}
.rectangle--bottom.open {
  transform: translateX(calc(-1 * var(--translate))) rotate(45deg);
}
.box {
  position: absolute;
  top: 34px;
  right: 40px;
  width: 250px;
  border-radius: 8px;
  background: #00000085;
  opacity: 0;
  transform: scale(0);
  transform-origin: top right;
  transition-property: opacity, transform;
  transition-duration: var(--transition);

  nav {
    width: 100%;

    #hamburger-list {
      flex-direction: column;

      li {
        align-items: center;
        padding: 20px 15px 20px 15px;

        a {
          font-size: 2.4rem;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
          &:active {
            opacity: 1;
          }
        }
      }
    }
  }
}
.box.open {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 650px) {
  .dekstop-nav {
    display: none;
  }

  .hamburger-nav {
    display: block;

    #hamburger-list li {
      margin: 0;
    }
  }
}